@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');
body{
    font-family: Roboto;
    background-color: #E5E5E5;
    margin: 0 auto;
}

.topoTela2{
    width: 100%;
    height: 227px;
    background-color: black;
    display: flex;
}
.topoTela2 img{
    width: 100%;
    height: 100%;
    position: relative;
}
.topoTela2 h1{
    position: absolute;
    color: white;
    top: 69px;
    left: 753PX;
    font-weight: 400;
    font-size: 40px;
}
.perguntas{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}
.pergunta{
    width: 759px;
    height: 676px;
    margin-top: 42px;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
}
.tituloPergunta{
    width: 668px;
    height: 138px;
    color: #FFFFFF;
    font-size: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    background-color: #434CA0;
    margin-top: 28px;
}
.opcoes{
    display: flex;
    flex-wrap: wrap;
    margin-top: 18px;
    padding-left: 44px;

}
.opcao{
    margin-right: 10px;
}
.opcao img{
    width: 330px;
    height: 175px;
}
.opcao h3{
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 19px;
    margin-top: 9px;
}
.h3Correto{
    color: #009C22;
}
.h3Errado{
    color: #FF4B4B;
}
.divNaoSelecionada img{
    opacity: 0.3;
}
.divNaoSelecionada h3{
    opacity: 0.3;
}
.telaDeAcerto{
    width: 759px;
    height: 430px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 44px;
    margin-bottom: 10px;
}
.telaDeAcerto > div{
    display: flex;
}
.telaDeAcerto img{
    width: 364px;
    height: 273px;
    margin: 18px 21px 22px 18px;
}
.telaDeAcerto p{
    font-weight: 700;
    font-size: 19px;
    margin: 18px 21px 22px 18px;

}
.escondido{
    display: none;
}
.tituloAcerto{
    width: 727px;
    height: 99px;
    color: #FFFFFF;
    font-size: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    background-color: #EC362D;
    margin-top: 28px;
}
.botoes{
    width: 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    font-weight: 400;
}
.botoes > :nth-child(1){
    width: 100%;
    height: 52px;
    background-color: #EC362D;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF5F4;
    border-radius: 15px;
    margin-top: 57px;
}
.botoes :nth-child(2){
    background-color: #E5E5E5;
    color: #818181;
    margin-top: 16px;
}
.botoes :hover{
    cursor: pointer;
}
@media (max-width: 1100px)
{
    .topoTela2{
        height: 142px;
    }
    .pergunta{
        width: 100%;
        height: 436px;
        margin-top: 42px;
        display: flex;
        flex-direction: column;
        background-color: #FFFFFF;
    }
    .tituloPergunta{
        width: 340px;
        height: 89px;
        color: #FFFFFF;
        font-size: 23px;
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: center;
        background-color: #434CA0;
        margin-top: 28px;
    }
    .opcao img{
        width: 40vw;
        height: 113px;
    }
    
}
